 <div class="fields">
    <div class="employee_user">
      <!-- x icon to remove -->
      <%= f.link_to_remove("x") %>
      <!-- fields -->
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>      
    </div>
  </div>