<div class="row">
  <div class="small-7 columns">
    <%= render partial: "flavor_details" %>
  </div>
</div>
<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "flavor", object: @flavor}  %>