<div class="row">
  <div class="small-7 columns">
    <%= render partial: "store_details" %>
  </div>
  <div class="small-5 columns">
    <% if current_user!=nil && (current_user.role? :admin) %>
        <%= render partial: "assigned_employees" unless @current_assignments.empty?%>
    <% end %>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<% if current_user!=nil && (current_user.role? :admin) %>
    <%= render partial: "partials/object_options", locals: {model_name: "store", object: @store} %>
<% end %>