<h3>Welcome back <%@user%>!</h3>

<p></p>

<table border="0" cellspacing="5" cellpadding="5">
    <tr valign="top">
        <td>
            <h3>Personal Information</h3>
            <div id="employee_details">
            
            </div>
        </td>
        <td width="50">&nbsp;</td>
        <td>
            <h3>Beginning Shifts</h3>
        </td>
    </tr>
</table>