<h3>Welcome back <%@user%>!</h3>

<p></p>

<table border="0" cellspacing="5" cellpadding="5">
    <tr valign="top">
        <td>
            <h3>Personal Information</h3>
            <div id="user_employee_details">
                <%= render :partial => 'users/user_details'%>
            </div>
        </td>
        <td width="50">&nbsp;</td>
        <td>
            <h3>Upcoming Shifts</h3>
            <div id="upcoming_shifts">
                <%= render :partial => 'users/user_details'%>
        </td>
    </tr>
</table>