<div class="row">
  <div class="small-7 columns">
    <%= render partial: "shift_details" %>
  </div>
  <div class="small-5 columns">
    <%= render partial: 'list_of_jobs' unless @jobs.empty?%>
  </div>
</div>